.nav-link, .navbar-brand {
    color: white !important;
}

.custom-dropdown-menu {
    min-width: 40px;
    padding: 4px;
    text-align: center;
    border: 1px solid;
}

.custom-dropdown-menu .dropdown-item {
    padding: 1px;
    display: flex;
    justify-content: center;
}